<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
 		http://www.springframework.org/schema/beans
 		http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util-4.3.xsd">

    <import resource="service-beans.xml"/>
    <import resource="discount-service-beans.xml"/>

    <bean id="userDAO" class="ua.epam.spring.hometask.dao.UserDAO">
        <property name="jdbcTemplate" ref="jdbcTemplate"/>
        <property name="tableName" value="t_user"/>
    </bean>

    <bean id="ticketDAO" class="ua.epam.spring.hometask.dao.TicketDAO">
        <property name="jdbcTemplate" ref="jdbcTemplate"/>
        <property name="tableName" value="t_ticket"/>
        <property name="userDAO" ref="userDAO"/>
        <property name="eventDAO" ref="eventDAO"/>
    </bean>

    <bean id="eventDAO" class="ua.epam.spring.hometask.dao.EventDAO">
        <property name="jdbcTemplate" ref="jdbcTemplate"/>
        <property name="tableName" value="t_event"/>
        <property name="airdatesTableName" value="t_airdate"/>
        <property name="auditoriumsTableName" value="t_auditorium"/>
        <property name="auditoriumService" ref="auditoriumServiceImpl"/>
    </bean>

    <bean id="userCommand" class="ua.epam.spring.hometask.UserCommand">
        <constructor-arg ref="userServiceImpl"/>
        <constructor-arg ref="eventServiceImpl"/>
        <constructor-arg ref="bookingServiceImpl"/>
    </bean>

    <bean id="adminCommand" class="ua.epam.spring.hometask.AdminCommand">
        <constructor-arg ref="eventServiceImpl"/>
        <constructor-arg ref="bookingServiceImpl"/>
        <constructor-arg ref="auditoriumServiceImpl"/>
    </bean>

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:auditorium.properties</value>
                <value>classpath:db.properties</value>
            </list>
        </property>
        <property name="ignoreResourceNotFound" value="true"/>
        <property name="systemPropertiesMode">
            <util:constant
                    static-field="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer.SYSTEM_PROPERTIES_MODE_OVERRIDE"/>
        </property>
    </bean>

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <constructor-arg ref="dataSource"/>
    </bean>

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${jdbc.driverClassName}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>

</beans>