<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/c"
       xsi:schemaLocation="
 		http://www.springframework.org/schema/beans
 		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util-3.2.xsd">

    <bean id="userDAO" class="ua.epam.spring.hometask.dao.UserDAO"/>
    <bean id="ticketDAO" class="ua.epam.spring.hometask.dao.TicketDAO"/>
    <bean id="eventDAO" class="ua.epam.spring.hometask.dao.EventDAO"/>

    <bean id="userCommand" class="ua.epam.spring.hometask.UserCommand">
        <constructor-arg ref="userServiceImpl"/>
        <constructor-arg ref="eventServiceImpl"/>
        <constructor-arg ref="bookingServiceImpl"/>
    </bean>

    <bean id="adminCommand" class="ua.epam.spring.hometask.AdminCommand">
        <constructor-arg ref="eventServiceImpl"/>
    </bean>

    <bean id="userServiceImpl" class="ua.epam.spring.hometask.service.impl.UserServiceImpl">
        <property name="userDAO" ref="userDAO"/>
    </bean>

    <bean id="bookingServiceImpl" class="ua.epam.spring.hometask.service.impl.BookingServiceImpl">
        <property name="ticketDAO" ref="ticketDAO"/>
    </bean>

    <bean id="eventServiceImpl" class="ua.epam.spring.hometask.service.impl.EventServiceImpl">

    </bean>

    <bean id="auditoriumServiceImpl" class="ua.epam.spring.hometask.service.impl.AuditoriumServiceImpl">

    </bean>

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:auditorium1.properties</value>
            </list>
        </property>
        <property name="ignoreResourceNotFound" value="true"/>
        <property name="systemPropertiesMode">
            <util:constant
                    static-field="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer.SYSTEM_PROPERTIES_MODE_OVERRIDE"/>
        </property>
    </bean>
</beans>