<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
 		http://www.springframework.org/schema/beans
 		http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util-4.3.xsd">

    <import resource="service-beans.xml"/>

    <bean id="userDAO" class="ua.epam.spring.hometask.dao.UserDAO"/>
    <bean id="ticketDAO" class="ua.epam.spring.hometask.dao.TicketDAO"/>
    <bean id="eventDAO" class="ua.epam.spring.hometask.dao.EventDAO"/>

    <bean id="userCommand" class="ua.epam.spring.hometask.UserCommand">
        <constructor-arg ref="userServiceImpl"/>
        <constructor-arg ref="eventServiceImpl"/>
        <constructor-arg ref="bookingServiceImpl"/>
    </bean>

    <bean id="adminCommand" class="ua.epam.spring.hometask.AdminCommand">
        <constructor-arg ref="eventServiceImpl"/>
        <constructor-arg ref="bookingServiceImpl"/>
        <constructor-arg ref="auditoriumServiceImpl"/>
    </bean>

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:auditorium.properties</value>
            </list>
        </property>
        <property name="ignoreResourceNotFound" value="true"/>
        <property name="systemPropertiesMode">
            <util:constant
                    static-field="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer.SYSTEM_PROPERTIES_MODE_OVERRIDE"/>
        </property>
    </bean>

</beans>